
<div class="container">
  <nav>
    <a [routerLink]="['/o']" routerLinkActive="router-link-active" >Observable</a> |
    <a [routerLink]="['/cf']" routerLinkActive="router-link-active" >Creation Function</a> |
    <a [routerLink]="['/op']" routerLinkActive="router-link-active" >Operator</a> |
    <a [routerLink]="['/dra']" routerLinkActive="router-link-active" >Declarative React Async</a> |
    <a [routerLink]="['/map']" routerLinkActive="router-link-active" >Map</a> |
    <a [routerLink]="['/combine']" routerLinkActive="router-link-active" >Combine</a> |
    <a [routerLink]="['/action']" routerLinkActive="router-link-active" >Action</a> |
  </nav>
</div>

<router-outlet></router-outlet>
