<p>MyActionComponent works!</p>


<select class="form-control" name="users" id="users" (change)="onSelected($event.target.value)">
  <option value="0">Display All</option>
  <option *ngFor="let user of users$ | async" [value]="user.id">{{user.username}}</option>
</select>


<div *ngIf="posts$ | async as posts">
  <div class="card" *ngFor="let post of posts">
    <div class="card-body">
      <h5 class="card-title">
        {{post.title}}
      </h5>
      <h6>
        #{{post.id}}
        - UserId: {{post.userId}}
          - <span style="color: red;"> Username: {{post.username}}</span>
      </h6>
      <div class="card-text">
        {{post.body}}
      </div>
    </div>
  </div>
</div>
