<p>MyActionMasterComponent works!</p>

<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  {{errorMessage}}
  <a href="https://blog.angular-university.io/rxjs-error-handling/">Comprehensive Error Handling.</a>
</div>

<div class="card">
  <div class="card-header">Users</div>
  <ul class="list-group" *ngIf="users$ | async as users">
    <li class="list-group-item" [ngClass]="{active: user?.id === (selectedUser$ | async)?.id}"
      *ngFor="let user of users" (click)="onSelectedUser(user.id)">
      {{user.username}} (#{{user.id}})
    </li>
  </ul>
</div>
